body {
	position: relative;
}

#notepad {
	position: relative;
	margin: auto;
	width: 400px;
	height: 400px;
	background-color: white;
	border: 2px solid blue;
	border-radius: 5px;
}

.notepad-paragraph {
	background-color: #ddd;
}

.over {
	/*border: 2px solid dashed;*/
	background-color: #aaa;
}

.checkbox-div {
	position: absolute;
}

#tooltip {
	display: none;
	position: absolute;
	background: black;
    color: white;
    width: 120px;
    font-size: 2em;
    border-radius: 4px;
    transform: translate(-50%, 10%);
}

.tooltip-option {
	width: 35px;
    margin-left: 10px;
    cursor: pointer;
}

#links div:nth-child(odd) {
	color: red;
}

#links div:nth-child(even) {
	color: blue;
}